h1 {
margin-top: 1px;
text-align: center;
}
.img {
    display: flex;
    width: 200px;
    margin-top: 20px;
    text-align: center;
         margin-left: auto;
         margin-right: auto;
    
}
.wrapper {
    width: 90%;
    max-width: 800px;
    background-color: rgb(245, 245, 250);
    padding: 2em;
    border: 5px solid rgb(174, 179, 247);
     margin-left: auto;
     margin-right: auto;
     margin-top:50px;

}

.buttonDecryption{
    margin-top: 20px;
}

.reset{
    margin-top: 20px;
    margin-left: 50px;
}
.keyword {
    font-size: 16px;
}
.decrypt {
   font-size: 16px;
}
.result{
    margin-top: 20px;
    font-size: 16px;
}